html{
    font-size: 3em;
    background-image: url(https://i.ebayimg.com/images/g/CWQAAOSw-Tlde4Rd/s-l300.png);
   color: white;
}
header{
    text-shadow: #FFF 0 -1px 4px,  rgb(200, 85, 235)0 -2px 10px,  rgb(200, 85, 235) 0 -10px 20px, red 0 -18px 40px;
}
section{
    text-shadow: #FFF 0 -1px 4px,  rgb(200, 85, 235)0 -2px 10px,  rgb(200, 85, 235) 0 -10px 20px, red 0 -18px 40px;
}

table {
    width: 70%;
    border: solid 5px black;


}

td, th {
    border: solid 4px;
    background-color: rgb(226, 175, 241);
}

th {
    background-color: rgb(215, 165, 230);
}

tr:nth-child(even) {
    background:  lightgreen;
}

.total {
    text-align: right;
    padding: 5px;
}

.unstyle {
    background-color: white;
    border: none
}